<div class="row">
  <div class="form-group col-md-6">
    <%= f.label :zipcode, t(".zip_code") %>
    <%= f.text_field :zipcode, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <%= f.label :number %>
    <%= f.text_field :number, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :complement %>
    <%= f.text_field :complement, class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-5">
    <%= f.label :neighborhood %>
    <%= f.text_field :neighborhood, readonly: true, class: "form-control" %>
  </div>
  <div class="form-group col-md-5">
    <%= f.label :city %>
    <%= f.text_field :city, readonly: true, class: "form-control" %>
  </div>
  <div class="form-group col-md-2">
    <%= f.label :state %>
    <%= f.text_field :state, readonly: true, class: "form-control" %>
  </div>
</div>
