<h1>Welcome</h1>

<div class="row">
  <% @donations.each do |donations| %>
    <h3 class="text-center"><%= donations[0].category.name %></h3>
    <div class="owl-carousel">
      <% donations.each do |donation| %>
        <% if donation.photos.any? %>
          <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 thumbnail">
            <%= link_to (image_tag(donation.photos[0].image_url(:index_page, :crop=>:scale), class:"img-responsive")), person_donation_path(donation.person,donation) %>
          </div>
        <% else %>
          <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 thumbnail">
            <%= link_to donation.title, person_donation_path(donation.person,donation), class:"img-responsive" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row" style=margin-top:50px>
  <div style="padding-top:15px">
    <div class="col-sm-1 col-sm-offset-4 col-xs-3" >
      <%= link_to cl_image_tag("Facebook_logo-2_g86xl9.png", :width=>40, :crop=>:scale), "#" %>
    </div>
    <div class="col-sm-1 col-xs-3">
      <%= link_to cl_image_tag("Twitter_logo-5_i7dtqx.png", :width=>40, :crop=>:scale), "#" %>
    </div>
    <div class="col-sm-1 col-xs-3">
      <%= link_to cl_image_tag("Googleplus_t554ie.png", :width=>40, :crop=>:scale), "#" %>
    </div>
    <div class="col-sm-1 col-xs-3">
      <%= link_to cl_image_tag("20130729004843_Youtube_logo_rkrib5.png", :width=>40, :height=>40, :crop=>:scale), "#" %>
    </div>
  </div>
</div>

<script>
  $(".owl-carousel").owlCarousel({
    navigation : true, // Show next and prev buttons
    autoPlay : 6000,
    stopOnHover : true,
    slideSpeed : 400,
    paginationSpeed : 600,
    singleItem:true
  });
</script>
