<div class="row">
  <div class="col-sm-2">
    <%= form_for :category, url: category_path, method: :get do |f| %>
      <% i = 1 %>
      <% @categories.each do |category| %>
        <div class="row">
          <div class="col-sm-12">
            <%= f.radio_button :category_id, category.id %>
            <%= label_tag 'category_category_id_'+i.to_s, category.name %>
          </div>
        </div>
        <% i = i + 1 %>
      <% end %>
      <div class="row">
        <div class="col-sm-12 form-group">
          <%= text_field_tag(:title, nil, class: "form-control", placeholder: "title") %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <%= f.submit "Search", class: "btn btn-default form-control" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-10">
    <% @donations.each do |donation| %>
      <div class="row">
          <div class="col-sm-4">
            <% if donation.photos.any? %>
              <%= link_to link_to (image_tag(donation.photos[0].image_url(:thumbnail), class:"img-responsive thumbnail")), person_donation_path(donation.person,donation) %>
            <% end %>
          </div>
          <div class="col-sm-8">
            <h1><%= donation.title %></h1>
            <p><%= truncate(donation.description, length: 200) %></p>
          </div>
        </div>
      <br>
    <% end %>
  </div>
</div>
